/* Main content styles */
.main-content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
}

.content-header {
    margin-bottom: 2rem;
}

.content-header h1 {
    color: var(--text-color);
    font-size: 2.5rem;
}

/* Trade Entry Form Styles */
.trade-form {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin-bottom: 30px
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

input[type="text"],
input[type="datetime-local"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
}

.buy-sell input[type="button"] {
    font-weight: 600;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 40px;
    transition: all 0.3s ease;
    color: var(--text-color);
}

.buy-sell input[type="button"]:hover {
    color: #fff;
}

.long {
    border: 2px solid #398d61;
}

.short {
    border: 2px solid #eb4b68;
}

.long:hover,
.long.active {
    background-color: #398d61;
}

.short:hover,
.short.active {
    background-color: #eb4b68;
}

.input[type="checkbox"] {
    margin-right: 10px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.btn-submit {
    background-color: var(--accent-color);
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn-submit:hover {
    background-color: #2980b9;
}

.trades-list {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin-bottom: 30px;
    margin-top: 40px;
}